.calendario-container {
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 75vh;
  background-color: #222;
  color: black;
  border-radius: 1rem;
  margin-top: 2.5rem;
  border: none;
  border-radius: 1rem;
}

.fc-header-toolbar {
  background-color: #CB904D; 
  border-bottom: 2px solid #784f20; 
  color: #ffffff; 
  padding: 10px;
  border-radius: 1rem;
}


.fc-button, .fc-button-primary, .fc-button-group .fc-button, .fc-button.fc-today-button, .fc-button.fc-button-primary {
  background-color: #373736 !important; 
  border: none !important;
  color: #ffffff !important; 
  padding: 5px 10px !important;
  margin: 0 5px !important;
  cursor: pointer !important;
  border-radius: 3px !important;
  transition: background-color 0.3s ease !important;
}

.fc-button:hover, .fc-button-primary:hover, .fc-button-group .fc-button:hover, .fc-button.fc-today-button:hover, .fc-button.fc-button-primary:hover {
  background-color: #784f20 !important; 
}

.fc-button-primary:not(:disabled).fc-button-active, .fc-button-group .fc-button.fc-button-primary:not(:disabled).fc-button-active, .fc-button.fc-today-button.fc-button-primary:not(:disabled).fc-button-active {
  background-color: #e74c3c !important; 
}


.fc-event {
  background-color: #01d394 !important; 
  color: #ffffff !important; 
  border: none !important;
  padding: 5px !important;
  border-radius: 3px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.fc-event:hover {
  background-color: #995100 !important; 
}


.fc-day {
  background-color: #ffffff !important; 
  border: 1px solid #000000 !important; 
}


.fc-day:hover {
  background-color: #ecf0f1 !important;
}

@media (max-width: 480px) {
  .calendario-container {
    width: 100%;
    height: auto;
  }
}


@media (max-width: 1490px) {
  .calendario-container {
    width: 100%;
    height: auto;
}
}