<<<<<<< HEAD

=======
>>>>>>> 5307e5723f1936c9dd5602e637d9bec957eca005
.homepage-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #222222;
<<<<<<< HEAD
  margin: 0%;
}

.Header {
  background-image: linear-gradient(180deg, #1c7bd3, #222222);
  height: 8rem;
  display: flex;
  justify-content: space-between;
=======
}

.Header {
  background-image: linear-gradient(180deg, #CB904D, #222222);
  height: 6.25rem;
  display: flex;
>>>>>>> 5307e5723f1936c9dd5602e637d9bec957eca005
  align-items: center;
  width: 100%;
}

<<<<<<< HEAD
#Sintra {
  margin-left: 7rem;
}

#Logout {
  margin-right: 5rem;
}

.Footer{
  background-image: linear-gradient(180deg,#222222,#1c7bd3 );
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: relative;
}

#anos{
  margin-left: 7rem;
}

#sintraLogo{
  margin-right: 7rem;
}

#Logout {
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Estilo quando o mouse passa por cima do ícone */
#Logout:hover {
  transform: rotate(180deg); /* Rotaciona a seta */
  filter: brightness(1.2); /* Aumenta o brilho */
}

@media (max-width: 480px) {
  .Header {
    height: 4rem;
    padding: 05px;
}
=======
img{
  justify-self: flex-end;
 width:100%;
>>>>>>> 5307e5723f1936c9dd5602e637d9bec957eca005
}