

 fieldset{
  border: none;
  display: flex;
  flex-direction: column;
}

p{
  color:orange
}  
.reservas-container {
  padding: 40px;
  background-color: #222222;
  border-radius: 8px;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
  text-align: center;
  
}

.reservas-header {
  text-align: center;
  margin-bottom: 20px;
}

.reservas-section {
  margin-bottom: 20px;
}

h1{
  color: white;
  margin-bottom: 50px;
  margin-top:0;
}
h2{
  color: white;
  margin-bottom:30px;
}

label {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 1.2em;
  color: white
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}
.linha-separacao {
  height: 1px;         
  background: #CB904D;    
  margin: 5px 0;      
  width: 100%;    
  margin-top:40px;
}